; {{ansible_managed}}

[uwsgi]
plugins = python
fastcgi-socket = /tmp/reviewboard.sock 
; fix up bogus PATH_INFO and SCRIPT_NAME from hiawatha
; Note: can't use 'route' to update PATH_INFO, since it starts out unset
route-uri = ^(/[^?]*) addvar:PATH_INFO=$1
route-uri = .* addvar:SCRIPT_NAME=/reviewboard.wsgi
wsgi-file = {{ reviewboard_appdir }}/htdocs/reviewboard.wsgi
env = PYTHONPATH={{ reviewboard_topdir }}/.local/lib/python2.7/site-packages/:{{ reviewboard_appdir }}/conf
env = PYTHONUSERBASE={{ reviewboard_topdir }}/.local
chdir = {{ reviewboard_appdir }}
uid = reviewboard 
gid = reviewboard 
chown-socket = www-data:www-data
chmod-socket = 600
logto = /var/log/reviewboard/uwsgi-fastcgi.log
logformat = [%(ltime)] METHOD '%(method)' URI '%(uri)' PATH_INFO '%(var.PATH_INFO)' SCRIPT_NAME '%(var.SCRIPT_NAME)' STATUS '%(status)'
